hardware/.history/
hardware/__pycache__/
hardware/*.lck
hardware/*-backups/
hardware/freerouting.jar
hardware/drc_*.rpt
hardware/*.dsn
hardware/*.ses
hardware/*.kicad_prl
hardware/from_kicad.net
hardware/*.ses
hardware/*.dsn
hardware/v2*.log
